#popLegacy{
    color: rgb(180, 180, 180) !important;
}

#TaxLimit{
    border-radius: 6px;
    margin-top: 0px;
    margin-bottom: -15px;
}

@media only screen and (max-width:990px) {
    #TaxLimit{
        margin-bottom:0px;
        margin-top: 15px;
    }
}

#TaxLimit span{
    font-size: 13px;

}

#TaxLimitButton{
    border-radius: 6px;
    border-color: rgb(176, 176, 176) !important;
}