#main{
    #rightLoginBackground{
        //login page left backgroung
        background: url('images/login.JPG');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .login_form{
        height: 40px;
        border-radius: 7px;
        padding-right:20px;
    }
    input::placeholder{
        padding-right: 5px;
    }
    .login_forgote_password_link{
        text-decoration: none;
    }
    #login_remember_me{
        input{
            float: right;
        }
        label{
            margin-right: 20px;
        }
    }
    .gray{
        color: rgb(121, 121, 121);
    }
    @media only screen and(max-width:576px) {
        #login_form_content {
            width: 90%;
            margin-right: 5%;
        }
    }

}
