

.searchItemLink{
  color: gray;
  padding: 8px 12px !important;
  transition: 0.2s;
}

.searchItemLink:hover{
  color: #1d78a5;
  background: #eef6fb;
}

.active {
  color: #1d78a5;/* تغییر رنگ متن به قرمز برای لینک فعال */
  background: #eef6fb;
  padding: 0px 16px;
}