.box-icon {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12) !important;
}

.img-entities {
    width: 130px;
    margin-top: 50px;
}

.entities-text {
    font-weight: 600;
    font-size: 18px;
    color: rgba(47, 43, 61, 0.68);
}

.small-text-entities{
    font-size: 14px;
    color: rgba(47, 43, 61, 0.68);
}

.number-entities{
    font-size: 18px;
}

@media (max-width:1311px) {
    .network-entiti{
        margin-bottom: 53px !important;
    }
}
@media (max-width:1000px) {
    .network-entiti{
        margin-bottom: 53px !important;
    }
}