#profileImageDiv{
    width: 130px;
}
.profileHeaderSpan{
    margin-right: 16px;
}
.profileHeaderSpan2{
    margin-right: 16px;
}
#profileRoleAlert{
    text-align: left;
}
.profileHeaderSpan3{
    margin-right: 8px !important;
    display: inline-block;
}
#MainProfileBox{
    margin-top: 24px;
}
.profileTables{
    font-size: 15px;
}

@media only screen and (max-width:1190px) {
    #profileImageDiv{
        width: 130px;
    }
    .profileHeaderSpan{
        margin-right: 0px;
    }
    .profileHeaderSpan2{
        margin-right: 0px;
    }
}

@media only screen and (max-width:992px) {
    #profileImageDiv{
        width: 120px;
    }
    .profileHeaderSpan{
        font-size: 13px;
        margin-right: -32px;
    }
    .profileHeaderSpan2{
        font-size: 13px;
        margin-right: -32px;
    }
}

@media only screen and (max-width:768px) {
    .profileHeaderSpan{
        font-size: 13px;
        margin-right: 0px;
    }
    .profileHeaderSpan2{
        font-size: 13px;
        margin-right: 0px;
    }
    #profileRoleAlert{
        text-align: right;
    }
    .ProfileAboutTitle{
        font-size: 12px;
    }
    .ProfileAboutHeadTitle{
        font-size: 15px;
    }
    #MainProfileBox{
        margin-top: -40px;
    }
    .profileTables{
        font-size: 13px !important;
    }
}

@media only screen and (max-width:576px) {
    #profileImageDiv{
        width: 80px;
    }
    #profileRoleAlert{
        font-size: 12px;
    }
    .profileHeaderSpan{
        display: inline-block;
        margin: 0px !important;
    }
    .profileHeaderSpan3{
        margin-right: 0px !important;
        display: block;
        margin-top: 8px !important;
    }
    .profileTables{
        font-size: 11px !important;
    }
}

