$GrayColor:rgb(248, 248, 248);
#TransactionPage{
    background: $GrayColor;
    min-height: 100vh;
    width: 100%;
}

#CurrencyDetail{
    width: 400px;
    height: 70vh;
    position: fixed;
    top: 150px;
    border-radius: 10px;
    right: 20px;
    box-sizing: border-box;
    padding: 15px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    #closeIcon{
        float: left;
        font-size: 20px;
        padding: 1px;
        border-radius: 5px;
    }
    #closeIcon:hover{
        background: rgb(245, 245, 245);
        cursor: pointer;
    }
    #address{
        display: inline-block;
        p{
            display: inline-block;
        }
        ion-icon{
            margin-right: 10px;
            font-size: 18px;
            margin-bottom: -4px;
            cursor: pointer;
        }
        ion-icon:hover{
            color: black;
        }
    }
}