@charset "UTF-8";
#TransactionPage {
  background: #f8f8f8;
  min-height: 100vh;
  width: 100%;
}

#CurrencyDetail {
  width: 500px;
  max-height: 70vh;
  position: fixed;
  top: 130px;
  border-radius: 10px;
  right: 10px;
  box-sizing: border-box;
  padding: 15px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 10;
}
@media only screen and (max-width: 1200px) {
  #CurrencyDetail {
    top: 70px;
  }
}
@media only screen and (max-width: 500px) {
  #CurrencyDetail {
    width: 96%;
    right: 2%;
  }
}
#CurrencyDetail #closeIcon {
  float: left;
  font-size: 20px;
  padding: 1px;
  border-radius: 5px;
}
#CurrencyDetail #closeIcon:hover {
  background: whitesmoke;
  cursor: pointer;
}
#CurrencyDetail #address {
  display: inline-block;
}
#CurrencyDetail #address p {
  display: inline-block;
}
#CurrencyDetail #address ion-icon {
  margin-right: 10px;
  font-size: 18px;
  margin-bottom: -4px;
  cursor: pointer;
}
#CurrencyDetail #address ion-icon:hover {
  color: black;
}
@media only screen and (max-width: 500px) {
  #CurrencyDetail #address {
    width: 80%;
  }
}

#CurrencyDetail::-webkit-scrollbar {
  width: 2px;
}

#CurrencyDetail::-webkit-scrollbar-track {
  background-color: #d1d1d1;
}

#CurrencyDetail::-webkit-scrollbar-thumb {
  background-color: #3d3d3d;
  /* رنگ نوار اسکرول */
  border-radius: 5px;
  /* شکل گرد نوار اسکرول */
}

#visualizationDetail {
  position: fixed;
  top: 130px;
  left: 10px;
  width: 300px;
}
@media only screen and (max-width: 1200px) {
  #visualizationDetail {
    top: 70px;
  }
}
@media only screen and (max-width: 500px) {
  #visualizationDetail {
    width: 90%;
    left: 5%;
    top: 70px;
  }
}

#Guide {
  position: fixed;
  direction: ltr;
  background: white;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  border-radius: 8px;
}
#Guide svg {
  cursor: pointer;
  stroke: gray;
  transition: 0.2s;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
#Guide svg:hover {
  stroke: black;
}
@media only screen and (max-width: 840px) {
  #Guide {
    right: 2%;
  }
  #Guide svg {
    cursor: pointer;
    stroke: gray;
    transition: 0.2s;
    width: 24px;
    height: 24px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1200px) {
  #TopGuide {
    position: fixed;
    top: 130px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 2;
    position: fixed;
    direction: ltr;
    background: white;
    padding: 5px;
    border-radius: 8px;
  }
  #TopGuide svg {
    cursor: pointer;
    stroke: gray;
    transition: 0.2s;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  #TopGuide svg:hover {
    stroke: black;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 840px) {
  #TopGuide {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 2;
    position: fixed;
    direction: ltr;
    background: white;
    padding: 5px;
    border-radius: 8px;
  }
  #TopGuide svg {
    cursor: pointer;
    stroke: gray;
    transition: 0.2s;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  #TopGuide svg:hover {
    stroke: black;
  }
}
@media only screen and (max-width: 840px) and (min-width: 500px) {
  #TopGuide {
    position: fixed;
    bottom: 10px;
    left: 100px;
    transform: translate(-50%, 0px);
    z-index: 2;
    position: fixed;
    direction: ltr;
    background: white;
    padding: 5px;
    border-radius: 8px;
  }
  #TopGuide svg {
    cursor: pointer;
    stroke: gray;
    transition: 0.2s;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  #TopGuide svg:hover {
    stroke: black;
  }
}
@media only screen and (max-width: 500px) {
  #TopGuide {
    position: fixed;
    bottom: 10px;
    left: 60px;
    transform: translate(-50%, 0px);
    z-index: 2;
    position: fixed;
    direction: ltr;
    background: white;
    padding: 5px;
    border-radius: 8px;
  }
  #TopGuide svg {
    cursor: pointer;
    stroke: gray;
    transition: 0.2s;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }
  #TopGuide svg:hover {
    stroke: black;
  }
}

@media only screen and (max-width: 500px) {
  .JD {
    display: none;
  }
}

/*# sourceMappingURL=tracker.css.map */
