$MainSiteGreen:#2f4f4f ;
$MainSiteHoveredGreen : #497979;
$MainSiteGray : #dcdcdc;
$MainSiteyellow : #cdcd32;
$MainSiteLightOrange : #dbc079;
$MainSiteOrange : #daa520;
$MainSitePurple : #43077b;
$MainSiteLightBlue : #00ffff;
$MainSiteLightGreen : #32cd32;
$MainSiteRed : #00ffff;
$test:rgb(191, 255, 176)
