#Tax{
    #getExelFormat{

        float: left;
        cursor: pointer;
        margin-bottom: -20px;
    }
    .taxTableDownloadDropDownOption{
        width: 90% !important;
    }
    .taxTableDownloadDropDownOption:hover span{
        color: #2f4f4f
    }
    #taxTableDownloadDropDown{
        float: left;
        #taxTableDownloadDropDownButton{
            padding: 5px 8px !important;
            font-size: 13px;
            border-radius: 5px;
            border-color: rgb(176, 176, 176) !important;
            span{
                margin: 0px !important;
                padding: 0px !important;
                margin-left: 5px;
            }
            ion-icon{
                font-size: 17px;
                margin-bottom: 2px;
                margin-right: 3px;
            }
        }
    }
    #taxTableDownloadDropDownSpan{
        padding: 5px 8px !important;
        margin-bottom: 2px;
        margin-right: 3px;
    }
    height: calc(100vh - 120px);
    .main_row1{
        input{
            width: 100%;
            height: 50px;
            margin-top: 10px;
            border-radius: 8px;
            background: url('../../../public/images/search.png') no-repeat scroll 7px 7px;
            padding-left: 48px;
            background-size: 30px;
            background-position: 10px 10px;
        }
        h1{
            width: 100%;
            text-align: center;
            @media only screen and (max-width:992px) {
                font-size: 15px;
            }
        }
        h3{
            @media only screen and (max-width:600px) {
                font-size: 18px;
            }
        }
        #searchExample11{
            display: block;
            margin-right: 0%;
            margin-top: 10px;
            width: 100%;
            span,ion-icon,p{
                display: inline-block;
            }
            @media only screen and (max-width:992px) {
                font-size: 13px;
            }
            span{
                margin-right: 10px;
                transition: 0.1s;
            }
            span:hover{
                color: #2f4f4f;
                cursor: pointer;
            }
            ion-icon{
                margin-right: 4px;
                color: #2f4f4f;
                margin-bottom: -3px;
                font-size: 20px;
            }
        }
        @media only screen and (max-width:768px) {
            margin-top: -80px;
        }

    }
}