@media only screen and (max-width:400px) {
    .zm-DaysButton{
        padding: 0px !important;
        margin: 0px !important;
        width: 25px !important;
        height: 25px !important;
    } 
    .css-1tniij6{
        width: 25px !important;
        height: 25px !important;
    }
    .css-137m4ck{
        width: 220px !important;
        height: 280px !important;
    }
}
.researcherLimits {
    width:280px;
    height: 34px;
}

.researcherLimits .researcherTitleLimits{
    border-top-left-radius:'0px';
    border-bottom-left-radius:'0px';
}

#AddressDownloadIcon{
    float: left;
}

#TaxLimit.ResearcherAmountLimit{
    margin-right: 16px;
}

#DeleteTimeLimitBox{
    height:20px;
    margin: 0px;
    width: 20px;
    border-radius: 50%;
    margin-right: 8px;
    color: rgb(180,180,180);
}

#DeleteTimeLimitBox:hover{
    background: rgb(215,215,215);
}

#DeleteTimeLimitBox2{
    height:20px;
    margin: 0px;
    width: 20px;
    border-radius: 50%;
    margin-right: 8px;
    color: rgb(180,180,180);
}

#DeleteTimeLimitBox2:hover{
    background: rgb(215,215,215);
}

@media only screen and (max-width: 615px) {
    .researcherLimits {
        width:100%;
        margin-right: 0px;
        height: 34px;
    }
    
    #AddressDownloadIcon{
        float: left;
    }

    .hamoniKeMahdudiatDare{
        height: 130px;
    }

    #TaxLimit.ResearcherAmountLimit{
        margin-right: 0px;
    }
}
