#AddressList .page-item {
    background: rgb(244, 244, 244) !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    border-radius: 50% !important;
  }
  #AddressList .page-item:not(.active):hover {
    background: rgb(232, 232, 232) !important;
  }
  #AddressList .active {
    background: rgb(190, 190, 190) !important;
    box-shadow: none !important;
    text-align: center !important;
  }
  #AddressList .page-item a {
    background: none !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    text-align: center !important;
  }
  
  #AddressList .page-item {
    background: rgb(244, 244, 244) !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    border-radius: 50% !important;
  }
  #AddressList .page-item:not(.active):hover {
    background: rgb(232, 232, 232) !important;
  }
  #AddressList .active {
    background: rgb(190, 190, 190) !important;
    box-shadow: none !important;
    text-align: center !important;
  }
  #AddressList .page-item a {
    background: none !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    padding-right: 0px !important;
    margin-right: 0px !important;
    text-align: center !important;
  }

  #EntityListTable Input {
    border: none !important;
    padding-right: 16px;
  }
