#entitiesMenu{
    .EnMenuOption{
        margin-left: 12px;
        @media only screen and (max-width:550px) {
            font-size: 10px;
            margin-bottom: -10px;
            margin-left: 6px;
        }
    }
    .showInResearcher{
        text-align: left;
        margin-Top: -10px;
        span{
            padding: 8px 16px;
        }
        @media only screen and (max-width:550px) {
            padding:8px 16px;
            font-size: 10px;
            margin-top: 20px;
            text-align: right;
            span{
                padding: 4px 8px;
            }
        }

    }
}