@font-face {
    font-family: vazir;
    src: url('../public/fonts/Vazir.ttf');
}
@font-face {
    font-family: sans;
    src: url('../public/fonts/IRANSansXFaNum-Medium.ttf');
}
.vazir{
    font-family: vazir;
}
*{
    font-family: sans;
    direction: rtl;
}
.thisIsActivePageForce{
    background: none !important;
}

.thisIsActivePageForce a{
    background: #01153a !important;
}
.nextLinkHoverForce{
    /* background: red !important */
}
body{
    background: url('/public/images/background2.png');
}
input:focus {
    outline: none !important;
  }
Input:focus{
    outline: none !important;
}
input::placeholder {
    color: rgb(180, 180, 180);
}
.mainPollete{
    background: #01153a !important;
}

.dropdown-menu{
    
}

@media only screen and (max-width:400px) {
    .modal-dialog{
        width: 100% !important;
        margin: 0px !important;
    }
}

Input:focus {
    border: 1px solid #01153a !important;
}

Input:focus + .input-group-text {
    border-color: #01153a !important;
}

.step{
    text-align: right !important;
}

.bs-stepper-label{
    text-align: right !important;
}

.btn-primary {
    background-color: #2FA3DD !important; 
    border-color: #2FA3DD !important;
}

.btn-primary:active {
    background-color: #2FA3DD !important; 
    border-color: #2FA3DD !important;
}

.btn-primary:focus {
    background-color: #2FA3DD !important; 
    border-color: #2FA3DD !important;
}

Input::placeholder {
    padding-right: 4px;
  }