#Admin{
    margin-top: 60px;
    @media only screen and (max-width:1200px) {
        margin-top: 0px;
    }
    #adminNav{
        @media only screen and (max-width:500px) {
        }
        @media only screen and (max-width:330px) {
        }
        a{
            margin-right: 24px;
            font-size: 18px;
            // border-bottom-style: solid;
            // border-bottom-width: 3px;
            // border-bottom-color: black;
            padding-bottom: 5px;
            transition: 0.1s;
            @media only screen and (max-width:500px) {
                font-size: 14px;
                margin-right: 12px;
            }
            @media only screen and (max-width:330px) {
                font-size: 12px;
                margin-right: 8px;
            }
        }
        #Link1{
            margin-right: -16px;
        }
        .ActiveAdmin{
            border-bottom-width: 3px;
            border-bottom-style: solid;
        }
        #AdminNavItem{
            @media only screen and (min-width:990px) {
                margin-right: 140px;
            }
        }
    }
    .JDAdmin{
        @media only screen and (max-width:990px) {
            display: none;
        }
    }
    .JMAdmin{
        @media only screen and (min-width:990px) {
            display: none;
        }
        .ActiveAdmin{
            border-bottom-width: 3px;
            border-bottom-style: solid;
        }
        #AdminUsersDesktopLink1{
            border-color: black !important;
        }
    }
}